DEEPSEEK_API_KEY=your_deepseek_api_key_here
LANGCHAIN_API_KEY=your_langsmith_token_here
OPENAI_API_KEY="your_openai_api_key_here"
LANGCHAIN_TRACING_v2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="python_LangChain"    # 用于在控制台区分不同项目

